<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
<link rel="stylesheet" 
href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand --> 
  <a class="navbar-brand" href="@{/index}">School Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">School Management System</a>
      </li>
    </ul>
  </div>
</nav>

	<div class = "container text-center">
		<div>
			<h1>Welcome to School Management System</h1>
		</div>
		<div>
<!--			<th align = "center">-->
<!--<!--			<h2><a th:href = "@{/login}" class = "btn btn-dark btn-sm mb-3">STUDENT LOGIN</a></h2>-->-->
<!--<!--			<h2><a th:href = "@{/login}" class = "btn btn-dark btn-sm mb-3">FACULTY/STUFF LOGIN </a></h2>-->-->
<!--			</th>-->
			<h3><a th:href = "@{/list_courses}" class = "btn btn-dark btn-sm mb-3">LIST CLASSES </a></h3>
			<h3><a th:href = "@{/create_account}" class = "btn btn-dark btn-sm mb-3">CREATE ACCOUNT</a></h3>
			<h3><a th:href = "@{/login}" class = "btn btn-dark btn-sm mb-3">LOGIN</a></h3>

		</div>
	</div>
	
</body>
</html>